waterfall.jpg      → Section 1
forest.jpg         → Section 2
canyon.jpg         → Section 3
rugged.jpg         → Section 4
maptexture.jpg     → Final Test
earth.jpg          → For Earth zoom animation
