/hiking-website
  ├─ index.html
  ├─ style.css
  ├─ script.js
  └─ media/
       ├─ waterfall.jpg
       ├─ forest.jpg
       ├─ canyon.jpg
       ├─ rugged.jpg
       ├─ maptexture.jpg
       └─ earth.jpg
