/* FULLSCREENFULL BACKGROUND */
width: 120%;
animation: zoomAnimation 2s ease forwards;
}


@keyframes zoomAnimation {
0% { transform: scale(1); }
50% { transform: scale(0.3); }
100% { transform: scale(1); }
}


/* NAV BUTTONS */
#nav-buttons {
position: fixed;
bottom: 20px;
width: 100%;
display: flex;
justify-content: space-between;
padding: 0 20px;
}


button {
padding: 10px 20px;
border: none;
font-size: 18px;
border-radius: 8px;
}


/* MINI QUIZ */
.mini-quiz button.correct { background: green; }
.mini-quiz button.wrong { background: red; }


/* MAP QUIZ */
#map-quiz {
width: 300%;
display: flex;
transition: transform 0.7s ease;
}


.map-question {
width: 100vw;
padding: 20px;
}


#retakeQuiz {
margin-top: 20px;
padding: 10px 20px;
}
